/* Global variables */
:root {
  --gutter: var(--space-s-m);
  --border-radius: 0.5rem;
  --transition-duration: 250ms;
  --transition-timing: ease;
  --wrapper-width: clamp(16rem, 93vw, 85rem);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  
  --color-matsim-dark-2: #0D2B58;
  --color-matsim-dark-1: #1F437A;
  --color-matsim-medium: #1F58AD;
  --color-matsim-light-1: #B8C8E0;
  --color-matsim-light-1-bg: #DFE5EE;
  
  --color-matsim-accent-1-dark: #6a8f04;
  --color-matsim-accent-1: #8CB814;
  --color-matsim-accent-1-bg: #CBE87D;
  --color-matsim-accent-1-light: #e8efda;
  --color-matsim-accent-2: #B81456;
  --color-matsim-accent-red: #B81456;
  --color-matsim-accent-red-dark: #800E3C;
  --color-matsim-accent-red-light: #B86989;
  --color-matsim-accent-red-bg: #d9adbf;

  --color-fg-light-1: #e8e8e8;
  --color-fg-light-2: #f0f0f0;
  --color-fg-dark-2: #101010;
  
  --color-shadow: #777777;
  
  --region-space-top: 2em;
  --region-space-bottom: 2rem;
  
  --nav-list-background: var(--color-matsim-dark-1);
}

.text-invert {
	color: var(--color-fg-light-2);
}
.bg-matsim {
	background-color: var(--color-matsim-medium);
	color: var(--color-fg-light-1);
}
.bg-matsim-light {
	background-color: var(--color-matsim-light-1);
	color: var(--color-fg-dark-2);
}
