.site-foot {
  margin-top: var(--space-l-xl);
  padding: var(--space-m-l);
  background: var(--color-matsim-dark-2);
  color: var(--color-fg-light-1);
}

.site-foot__inner {
  display: flex;
  gap: var(--space-s);
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
	.site-foot__inner {
		justify-content: unset;
	}
}

:not(nav#social).site-foot__inner {
  flex-wrap: wrap;
}

.site-foot svg {
  block-size: 0.9em;
  inline-size: 0.9em;
}
