<section> <!-- carousel -->
    <div class="carousel-container">
        <div class="carousel">
            <input type="radio" name="slides" checked="checked" id="slide-1">
            <input type="radio" name="slides" id="slide-2">
            <input type="radio" name="slides" id="slide-3">
            <input type="radio" name="slides" id="slide-4">
<!--             <input type="radio" name="slides" id="slide-5"> -->
<!--             <input type="radio" name="slides" id="slide-6"> -->
            <ul class="carousel__slides">
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <a href="/examples/sbb"><img src="/assets/images/usecases/sbb/re460.webp" alt=""></a>
                        </div>
                        <figcaption>
                            <h3>Swiss Federal Railway (SBB)</h3>
                            The Swiss Federal Railway (SBB) operate a MATSim model covering all of Switzerland since around 2018 and use it for various planning purposes.
                            <a href="/examples/sbb">Read more…</a>
                            <span class="credit">Photo: Marcel Rieser</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <a href="/examples/moia"><img src="/assets/images/usecases/moia/moia.webp" alt=""></a>
                        </div>
                        <figcaption>
                            <h3>MOIA</h3>
                            MOIA is the young mobility company of the Volkswagen Group and provides shared mobility services in multiple cities.
                            <a href="/examples/moia">Read more…</a>
                            <span class="credit">Photo: MOIA</span>
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <a href="/examples/arup"><img src="/assets/images/usecases/arup/Auckland New Zealand travel model3.webp" alt=""></a>
                        </div>
                        <figcaption>
                        	<h3>ARUP</h3>
                            ARUP uses MATSim to build various models in the UK, but also to build a nation-wide ABM in New Zealand.
                            <a href="/examples/arup">Read more…</a>
                            <span class="credit">Photo: ARUP</span>                            
                        </figcaption>
                    </figure>
                </li>
                <li class="carousel__slide">
                    <figure>
                        <div>
                            <a href="/examples/bvg"><img src="/assets/images/usecases/bvg/Flexity_Strassenbahn_BVG_Sven_Lambert.webp" alt=""></a>
                        </div>
                        <figcaption>
                        	<h3>Berliner Verkehrsbetriebe (BVG)</h3>
                            The Berliner Verkehrsbetriebe (BVG), Germany’s biggest public transport company, is responding to the challenges of future urban travel with innovative strategies and cutting-edge technology.
							<a href="/examples/bvg">Read more…</a>
                            <span class="credit">Photo: BVG, Sven Lambert</span>
                        </figcaption>
                    </figure>
                </li>
            </ul>    
            <ul class="carousel__thumbnails">
                <li>
                    <label for="slide-1"><img src="/assets/images/usecases/sbb/re460_mini.webp" alt=""></label>
                </li>
                <li>
                    <label for="slide-2"><img src="/assets/images/usecases/moia/moia_mini.webp" alt=""></label>
                </li>
                <li>
                    <label for="slide-3"><img src="/assets/images/usecases/arup/Auckland New Zealand travel model3.webp" alt=""></label>
                </li>
                <li>
                    <label for="slide-4"><img src="/assets/images/usecases/bvg/Flexity_Strassenbahn_BVG_Sven_Lambert_mini.webp" alt=""></label>
                </li>
            </ul>
        </div>
    </div>
</section> <!-- end carousel -->
